.cart-items {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	width: 100%;
	border-bottom: 0.5px solid lightgray;
}

.cart-items img {
	margin-right: 30px;
}
.cart-item-details {
	width: 70%;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	align-items: flex-start;
	font-weight: 600;
}
