.sign-in-bottom {
	flex: 20%;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.steps {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.steps > * {
	margin: 5px;
}

.steps .numbers {
	width: 30px;
	height: 30px;
	background-color: #ffbd2f;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
	font-weight: 600;
}

.steps h3 {
	font-size: 0.9em;
	font-weight: 500;
	text-align: center;
}

@media only screen and (max-width: 400px) {
	.steps h3 {
		font-size: 0.7em;
		font-weight: 500;
		text-align: center;
	}
}
