.sign-in-top {
	flex: 80%;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.4)
		),
		url('../../assets/image/sign-in-background.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.sign-in-top .logo-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
.sign-in-top .logo-nav img {
	width: 100px;
	height: 100%;
	filter: drop-shadow(0px 3px 4px rgba(255, 255, 255, 0.4));
}
.sign-in-top .logo-nav h1 {
	color: white;
	font-family: 'Ma Shan Zheng';
	font-size: 2em;
	letter-spacing: 2px;
	font-weight: 400;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
	text-align: center;
}

.sign-in-body {
	width: 100%;
	height: 75%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.sign-in {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	backdrop-filter: blur(0.5px);
}
.sign-in > * {
	margin: 10px;
	padding: 10px;
}

.sign-in h4 {
	font-size: 1.4em;
	color: white;
	font-weight: 500;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
}
.sign-in button {
	border: none;
	outline: none;
	background-color: rgb(255, 189, 47);
	width: 200px;
	height: 50px;
	border: 2px solid black;
	text-transform: uppercase;
	font-size: 0.9em;
	margin: 0 20px;
	color: white;
	cursor: pointer;
}
.sign-in button:hover {
	background: none;
	border: 2px solid white;
}
.signin-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	top: 0%;
	left: 0%;
	display: grid;
	z-index: 999;
	place-items: center;
}
.typewriter {
	font-size: 3em;
	font-weight: 650;
	color: white;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 550px) {
	.sign-in {
		width: 100%;
	}
	.sign-in-top .logo-nav img {
		width: 50px;
	}
	.sign-in-top .logo-nav h1 {
		font-size: 1em;
	}
}
