.cart {
	min-width: 250px;
	min-height: 400px;
	width: 25%;
	height: 50%;
	max-width: 500px;
	position: absolute;
	top: 100%;
	right: 20px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.cart-component {
	overflow-y: scroll;
}

.cart-component::-webkit-scrollbar {
	display: none;
}
.checkout-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background: black;
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	font-size: 0.9em;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}

.checkout-btn:hover {
	border: 1px solid black;
	background: white;
	color: black;
}

.cart-loader {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.empty-cart {
	font-size: 1.5em;
	color: rgb(151, 151, 151);
	text-align: center;
	margin-top: 50px;
}
