.homepage-top {
	width: 100%;
	height: 550px;
	margin-top: -90px;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.25),
			rgba(0, 0, 0, 0.05)
		),
		url('../../assets/image/homepage-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.homepage-top h1 {
	font-size: 6em;
	color: white;
	font-family: 'Ma Shan Zheng';
	margin-top: 100px;
	letter-spacing: 2px;
	font-weight: 400;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
}
.homepage-top h3 {
	font-size: 1.8em;
	color: white;
	font-weight: 400;
}
.homepage-top span {
	color: rgb(255, 215, 85);
	font-weight: 500;
	text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.8);
}

.user-location,
.search-input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.search {
	display: flex;
	align-items: center;
	background: white;
	width: 95%;
	max-width: 650px;
	padding: 10px 20px;
	border-radius: 50px;
	margin-top: 35px;
}
.search-input input {
	flex: 90%;
	outline: none;
	border: none;
	font-size: 1em;
}
.user-location {
	flex: 25%;
	border-right: 0.5px solid gray;
}
.search-input {
	flex: 75%;
	padding-left: 20px;
}
.search-input > * {
	margin: 0 5px;
}

@media only screen and (max-width: 786px) {
	.user-location,
	.search-input {
		font-size: 0.7em;
	}
	.homepage-top h1 {
		font-size: 3.5em;
		margin-bottom: 10px;
	}
	.homepage-top h3 {
		font-size: 1.4em;
		color: white;
		font-weight: 400;
	}
	.search {
		padding: 10px;
	}
}
