.navbar {
	color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(6px);
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.4));
	position: fixed;
	top: 0%;
	z-index: 999;
	backdrop-filter: blur(1px);
}
.navbar img {
	width: 50px;
	height: 100%;
	filter: drop-shadow(0px 3px 4px rgba(255, 255, 255, 0.4));
}

.nav-center {
	display: flex;
}
.nav-center a {
	font-size: 0.9em;
	text-decoration: none;
	color: white;
	padding: 0 10px;
	text-transform: uppercase;
	transition: transform 0.5s;
	position: relative;
}

.nav-center a:hover {
	color: rgb(255, 189, 47);
	font-weight: 500;
	transform: scale(1.05);
}
#active {
	color: rgb(255, 189, 47);
	font-weight: 500;
}

.nav-right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-right > * {
	padding: 0 10px;
	cursor: pointer;
}

.nav-btn {
	color: rgba(black, 0.3);
	width: 35px;
	height: 35px;
	border: none;
	border-radius: 50%;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	background-color: rgb(255, 189, 47);
	transition: transform 0.3s ease-in;
}
.nav-btn:hover {
	background-color: rgb(250, 230, 117);
	border: 2px solid rgb(255, 189, 47);
	transform: scale(1.1);
}
.name {
	display: block;
	text-align: center;
}
.name p {
	font-size: 0.85em;
}
.nav-right .hamburger {
	display: none;
}

@media only screen and (max-width: 950px) {
	.nav-center a {
		font-size: 0.8em;
		color: white;
	}
	.name p {
		font-size: 0.5em;
	}
	.name h3 {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 850px) {
	.navbar {
		padding: 10px;
	}
	.nav-btn {
		font-size: 0.8em;
		width: 30px;
		height: 30px;
	}
	.nav-right .hamburger {
		display: flex;
		border: none;
		outline: none;
		color: black;
	}
	.nav-center {
		display: none;
	}
	#responsive {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		top: 100%;
		left: 0%;
		background: rgba(0, 0, 0, 0.9);
		backdrop-filter: blur(10px);
		width: 100%;
		height: 300px;
	}
	#responsive a {
		text-align: center;
		width: 100%;
		font-size: 1em;
	}
}
