.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 20px 40px;
	background: black;
	color: white;
}

.footer-main {
	display: flex;
	justify-content: space-between;
	height: 95%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-left {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.footer-middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-middle > * {
	margin: 20px;
}
.footer-middle h4 {
	font-size: 0.8em;
	line-height: 30px;
}
.footer-middle li {
	list-style: none;
	padding: 5px 0;
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8em;
	cursor: pointer;
}
.footer-middle li:hover {
	color: rgba(255, 255, 255, 0.9);
}

.footer-top img {
	width: 75px;
	height: 75px;
}
.footer-top h2 {
	font-family: 'Ma Shan Zheng';
	font-size: 1.4em;
	font-weight: 200;
}

.footer-bottom > * {
	margin: 10px;
	cursor: pointer;
}

.footer-bottom > *:hover {
	transform: scale(1.2);
}

.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-right div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.9em;
	padding: 10px;
}

.location div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer p {
	text-align: center;
	font-size: 0.9em;
	padding: 20px;
}

@media only screen and (max-width: 768px) {
	.footer-main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 95%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	.footer-right div {
		text-align: start;
		font-size: 0.9em;
		padding: 0 10px;
	}
}
