.checkout-page {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: 100px;
}
.checkout {
	height: calc(100vh - 100px);
	width: 90%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.checkout-container {
	max-height: 80vh;
	overflow-y: scroll;
}
.checkout-container::-webkit-scrollbar {
	display: none;
}
.checkout-details {
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 0%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 30px;
	background: rgb(255, 189, 47);
}
.payment-btn {
	width: 100px;
	height: 40px;
	outline: none;
	background: white;
	border: 1px solid black;
	cursor: pointer;
	font-size: 0.9em;
	color: black;
}
.checkout-success {
	display: grid;
	place-items: center;
	margin-top: 100px;
}
.checkout-success-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}
.checkout-success-body > * {
	margin: 20px 0;
}
.checkout-loader {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.order-img {
	width: 300px;
	height: auto;
	object-fit: contain;
	margin: 20px 0;
}

@media only screen and (max-width: 786px) {
	.checkout-details {
		justify-content: space-between;
	}
	.checkout-success-body {
		margin: 0 20px;
		text-align: center;
		font-size: 0.7em;
	}
	.order-img {
		width: 150px;
		height: auto;
	}
}
